/* ###### global style ###### */
.grim-red-color{
color: #c02231;
}

.main-container {
padding-top: 12%;
padding: 5%;
text-align: center;
}

.spin { transition: all 0.8s ease-in-out 0.2s; }

.spin:hover
{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.8s ease-in-out 0.2s;
}

/* ##### Main Html Page ##### */
/* ##### navbar ###### */
main{
padding-bottom: 5%;
}
.app-logo{
width: 5%;
margin-right: 5px;
}

.main-football{
width: 20%;
}

footer{
position: fixed;
width: 100%;
bottom: 0;
background-color: #353a40;
color: #fff;
}


/* ##### Team of the Year ##### */
.grim-logo{
width: 25%;
}

.grim-stadium{
width: 65%;
}

.top-padding{
padding-top: 3rem;
}

.grim-manager{
width: 50%;
border-radius: 15px;
}

/* ##### Tables ##### */
.table-border{
border: solid 2px #c82032;
}


/* ##### Stadiums ##### */
.card{
    text-align: center;
    border: 1px solid #353a40;

}
.card-header{
    background-color: #353a40;
    color: #fff;
}
.capacity{
    font-size: 1.5rem;
    font-weight: 700;
}