@(stadiumForm: Form[StadiumData])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@import views.html.helper.CSRF

@main("Create Stadium") {
<div class="container main-container">
    <div class="container stadium-form">
        <div class="form">
            <div class="title">Let's create your stadium!</div>
            <div class="subtitle">The Football App</div>
            @helper.form(action = routes.StadiumController.create()) {
            <hr>
            @CSRF.formField
            @helper.inputText(stadiumForm("name"), '_showConstraints -> false, 'class -> "input", 'placeholder ->
            "Stadium Name", '_label -> "" )
            @helper.inputText(stadiumForm("city"), '_showConstraints -> false, 'class -> "input", 'placeholder ->
            "City", '_label -> "" )
            @helper.inputText(stadiumForm("country"), '_showConstraints -> false, 'class -> "input", 'placeholder ->
            "Country", '_label -> "" )
            @helper.inputText(stadiumForm("imgUrl"), '_showConstraints -> false, 'class -> "input", 'placeholder ->
            "Image URL", '_label -> "" )
            @helper.inputText(stadiumForm("seats"), '_showConstraints -> false, 'class -> "input", 'placeholder ->
            "Number of Seats", '_label -> "", '_help -> "Minimum value: 0, Maximum value: 300,000" )
            <input class="btn btn-lg btn-danger" type="submit" id="submit" value="Submit"/>

            }
        </div>
    </div>
</div>
}
