@(stadium: Stadium)

@main("View Stadium") {
<div class="container main-container">
    <br>
    <br>
    <h1>Football Stadium</h1>
    <br>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <h5 class="card-header">@stadium.name</h5>
                <img src="@stadium.imgUrl" alt="@stadium.name">
                <div class="card-body">
                    <h5 class="card-title">City: @stadium.city</h5>
                    <hr>
                    <p class="card-text">The Capacity of this @stadium.name is: <br> <span class="capacity">@stadium.seats</span>
                    </p>
                    <a href="@routes.StadiumController.show(stadium.id)" class="btn btn-sm btn-danger">View Stadium</a>
                </div>
            </div>
        </div>
    </div>
</div>
}