@(stadium: Stadium)

@main("View Stadium") {


<div class="container main-container">
    <br>
    <h1>Football Stadiums</h1>
    <p>A list of football stadiums in the UK</p>
</div>
<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img src="@routes.Assets.versioned("images/grim-stadium.jpeg")" alt="Stadium">
                <div class="card-body">
                    <h5 class="card-title">Name: @stadium.name</h5>
                    <p class="card-text">City: @stadium.city</p>
                    <p class="card-text">Number of seat: @stadium.seats</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-danger">View</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        }