@(stadiums: List[Stadium])


<div class="container main-container">
    <h1>We have @stadiums.size stadiums for you to view!</h1>
    <br>
    <a href="@routes.StadiumController.create" class="btn btn-md btn-danger">Add a Stadium</a>
</div>

@main("Stadiums") {

        <div class="container">
            <div class="row">

                @for(stadium <- stadiums) {

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <h5 class="card-header">@stadium.name</h5>
                    <img src="@stadium.imgUrl" alt="@stadium.name">
                    <div class="card-body">
                        <h5 class="card-title">City: @stadium.city</h5>
                        <hr>
                        <p class="card-text">The Capacity of this @stadium.name is: <br> <span class="capacity">@stadium.seats</span> </p>
                        <a href="@routes.StadiumController.show(stadium.id)" class="btn btn-sm btn-danger">View Stadium</a>
                    </div>
                </div>
            </div>
                }
        </div>
        </div>

}










