@(teamForm: Form[TeamData], stadiumList: List[Stadium])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@import views.html.helper.CSRF

@main("Create Stadium") {
<div class="container top-padding">
        @helper.form(action = routes.TeamController.create()) {
        @CSRF.formField
        @helper.inputText(teamForm("name"))
        @helper.select(
            field = teamForm("Stadium"),
            options = stadiumList.map(s => s.id.toString -> s.name)

        )
        <input type="submit" id="submit" value="Submit"/>
    }
</div>
}