@(teamId: Long, name: String, imgUrl: String, stadium: Stadium)

@main("View Team") {
<div class="container main-container">
  <br>
  <br>
  <h1>Football Teams</h1>
  <br>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <h5 class="card-header">name</h5>
        <img src="" alt="">
        <div class="card-body">
          <a href="" class="btn btn-sm btn-danger">View Team</a>
        </div>
      </div>
    </div>
  </div>
</div>
}