@import org.mongodb.scala.Document

@(teamId: Long, teamInfo: Document, stadium: Stadium)

@main("View Team") {
<div class="container top-padding">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img src="@teamInfo("imgUrl")" alt="@stadium.name">
        <div class="card-body">
          <h5 class="card-title">@teamInfo("name").asString.getValue</h5>
          <p class="card-body">Plays at: @stadium.name, which has a capacity of @stadium.seats.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="@routes.TeamController.edit(teamId)">
                <button type="button" class="btn btn-sm btn-danger">Edit</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}