@(teams: List[Team])

@main("Teams") {
<h1>Welcome, there are @teams.size teams to look at!</h1>
@for(team <- teams) {
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h5 class="card-title">Name: @team.name</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="@routes.TeamController.show(team.id)">
                                <button type="button" class="btn btn-sm btn-danger">View</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}

}