@(playerForm: Form[PlayerData], teamList: List[Team])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@import views.html.helper.CSRF

@main("Create Player") {
<div class="container top-padding">
    <br>
    <h1>Create a new Player</h1>
    @helper.form(action = routes.PlayerController.create()) {
    @CSRF.formField
    @helper.inputText(playerForm("name"))
    @helper.inputText(playerForm("surname"))
    @helper.select(
    field = playerForm("team"),
    options = teamList.map(t => t.id.toString -> t.name)

    )
    @helper.select(
    field = playerForm("position"),
    options = List(
    "GoalKeeper" -> "GoalKeeper",
    "RightFullback" -> "RightFullback",
    "LeftFullback" -> "LeftFullback",
    "CenterBack" -> "CenterBack",
    "Sweeper" -> "Sweeper",
    "Striker" -> "Striker",
    "HoldingMidfielder" -> "HoldingMidfielder",
    "RightMidfielder" -> "RightMidfielder",
    "Central" -> "Central",
    "AttackingMidfielder" -> "AttackingMidfielder",
    "LeftMidfielder" -> "LeftMidfielder"
    )

    )
    <input type="submit" id="submit" value="Submit"/>
    }
</div>
}