@(players: List[Player])

<div class="container main-container">
  <br>
  <br>
  <h1>We have @players.size player for you to view!</h1>
  <br>
  <a href="@routes.PlayerController.create" class="btn btn-md btn-danger">Add a Player!</a>
</div>

@main("Players") {

<div class="container">
  <div class="row">

    @for(player <- players) {

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <h5 class="card-header">@player.position</h5>
        <img src="" alt="@player.firstName">
        <div class="card-body">
          <h5 class="card-title">Position: @player.surname</h5>
          <hr>
          <a href="" class="btn btn-sm btn-danger">View Player</a>
        </div>
      </div>
    </div>
    }
  </div>
</div>

}