@()

@main("Grimsby Town") {

<div class="container main-container">
  <br>
  <h1>Our Team of the Year!</h1>
  <br>
  <h2><span class="grim-red-color">Grim</span>sby Town</h2>
  <p>Grimsby by name and GRIM by nature!</p>
  <img class="grim-logo" src="@routes.Assets.versioned("images/grimsby-transparent.png")" alt="Grimsby Logo">
  <br>
  <br>
  <a class="btn btn-danger btn-lg" href="/team-of-the-year-players" role="button">The Players</a>
  <a class="btn btn-danger btn-lg" href="/team-of-the-year-manager" role="button">The Manager</a>
</div>

}
