@()

@main("Grimsby Town - Manager") {

<div class="jumbotron">
  <h1>Meet the Manager</h1>
  <p>We are Grimsby by name and GRIM by nature!</p>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="@routes.Assets.versioned("images/players/brothers-grimsby.webp")" alt="Germans">
        <div class="card-body">
          <h5 class="card-title">Norman Butcher</h5>
          <p class="card-text">Manager</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-danger">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


}