@()

@main("Grimsby Town - Players") {

<div class="jumbotron">
  <h1>Meet the Players</h1>
  <p>The only thing that's not GRIM about Grimsby Town is the players</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="" src="@routes.Assets.versioned("images/players/germans.png")" alt="Germans">
        <div class="caption">
          <h3>Germans</h3>
          <p>Manager</p>
          <p><a href="#" class="btn btn-primary" role="button">Stats</a> <a href="#" class="btn btn-default" role="button">Get to know</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="" src="@routes.Assets.versioned("images/players/lee.png")" alt="Lee">
        <div class="caption">
          <h3>Lee</h3>
          <p>Position</p>
          <p><a href="#" class="btn btn-primary" role="button">Stats</a> <a href="#" class="btn btn-default" role="button">Get to know</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="" src="@routes.Assets.versioned("images/players/a.png")" alt="Adil">
        <div class="caption">
          <h3>Adil</h3>
          <p>Position</p>
          <p><a href="#" class="btn btn-primary" role="button">Stats</a> <a href="#" class="btn btn-default" role="button">Get to know</a></p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="" src="@routes.Assets.versioned("images/players/j.png")" alt="Jacques">
        <div class="caption">
          <h3>Jacques</h3>
          <p>Position</p>
          <p><a href="#" class="btn btn-primary" role="button">Stats</a> <a href="#" class="btn btn-default" role="button">Get to know</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="" src="@routes.Assets.versioned("images/players/lu.png")" alt="Laura">
        <div class="caption">
          <h3>Laura</h3>
          <p>Position</p>
          <p><a href="#" class="btn btn-primary" role="button">Stats</a> <a href="#" class="btn btn-default" role="button">Get to know</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="" src="@routes.Assets.versioned("images/players/n.png")" alt="Ned">
        <div class="caption">
          <h3>Ned</h3>
          <p>Position</p>
          <p><a href="#" class="btn btn-primary" role="button">Stats</a> <a href="#" class="btn btn-default" role="button">Get to know</a></p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="" src="@routes.Assets.versioned("images/players/p.png")" alt="Phu">
        <div class="caption">
          <h3>Phu</h3>
          <p>Position</p>
          <p><a href="#" class="btn btn-primary" role="button">Stats</a> <a href="#" class="btn btn-default" role="button">Get to know</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="" src="@routes.Assets.versioned("images/players/r.png")" alt="Romel">
        <div class="caption">
          <h3>Romel</h3>
          <p>Position</p>
          <p><a href="#" class="btn btn-primary" role="button">Stats</a> <a href="#" class="btn btn-default" role="button">Get to know</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="" src="@routes.Assets.versioned("images/players/ro.png")" alt="Rob">
        <div class="caption">
          <h3>Rob</h3>
          <p>Position</p>
          <p><a href="#" class="btn btn-primary" role="button">Stats</a> <a href="#" class="btn btn-default" role="button">Get to know</a></p>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="" src="@routes.Assets.versioned("images/players/ste.png")" alt="Ste">
        <div class="caption">
          <h3>Ste</h3>
          <p>Position</p>
          <p><a href="#" class="btn btn-primary" role="button">Stats</a> <a href="#" class="btn btn-default" role="button">Get to know</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="" src="@routes.Assets.versioned("images/players/stu.png")" alt="Stu">
        <div class="caption">
          <h3>Stu</h3>
          <p>Position</p>
          <p><a href="#" class="btn btn-primary" role="button">Stats</a> <a href="#" class="btn btn-default" role="button">Get to know</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="" src="@routes.Assets.versioned("images/players/gary.png")" alt="Gary">
        <div class="caption">
          <h3>Gary</h3>
          <p>Position</p>
          <p><a href="#" class="btn btn-primary" role="button">Stats</a> <a href="#" class="btn btn-default" role="button">Get to know</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
}