@()

@main("Grimsby Town - The Tables") {

<div class="container main-container">
    <br>
    <h1>The Tables</h1>
    <br>
    <br>
    <h2>Premier League</h2>
    <br>
    <div class="fwp-embed table-border" data-heading-color="#f64143" data-url="premier-league/league-table"></div>
    <script src="https://www.footballwebpages.co.uk/embed.js" defer></script>

    <br>
    <h2>Sky Bet Championship</h2>
    <br>
    <div class="fwp-embed table-border" data-heading-color="#f73c3f" data-url="championship/league-table"></div>
    <script src="https://www.footballwebpages.co.uk/embed.js" defer></script>
    <br>
    <h2>Sky Bet League One</h2>
    <br>
    <div class="fwp-embed table-border" data-heading-color="#f73739" data-url="league-one/league-table"></div>
    <script src="https://www.footballwebpages.co.uk/embed.js" defer></script>
    <br>
    <h2>Sky Bet League Two</h2>
    <br>
    <div class="fwp-embed table-border" data-url="grimsby-town/league-table"></div>
    <script src="https://www.footballwebpages.co.uk/embed.js" defer></script>
    <br>
</div>

}